body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gold-main: #FFD700;
  --gold-dark: #B8860B;
  --gold-light: #FFF8DC;
  --gold-accent: #FFC300;
  --gold-border: #E6BE8A;
  --text-main: #222;
  --bg-main: #FFF8DC;
}
